body {
    overflow-x: hidden;
}

.navbar {
    background-color: antiquewhite;
}

.container-fluid {
    background-color: antiquewhite;
}

.bg-img {
    background-image: url(Template/Kitchen.jpg);
    background-size: cover;
    height: 560px;
    background-position: center;
}

.bg-img::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), transparent);
    z-index: 1;
    height: 560px;
}

.bg-img>.container {
    position: relative;
    z-index: 2;
}


.nav-item .btn {
    border-radius: 20px;
    width: 120px;
    margin-left: 30px;
}

.interface {
    margin-top: 30px;
}

form {
    background-color: #fff3b0;
}

.card {
    background-color: #fff3b0;
    margin-top: 20px;
}

.heading {
    padding-top: 100px;
}

.service {
    padding: 40px;
    background-color: #4A5C5D;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
}

.head {
    text-align: center;

}

.company {
    background-color: #fff3b0;
    padding: 20px;
}

.body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.latch {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin-right: 30px;
}

.stella {
    font-family: 'Pacifico', cursive;
    margin-right: 30px;
    margin-left: 30px;
}

.gasparyan {
    font-family: 'Lato', sans-serif;
    margin-right: 30px;
    margin-left: 30px;
}

.volve {
    font-family: 'Playfair Display', serif;
    margin-right: 30px;
    margin-left: 30px;
    font-weight: 700;
}

.foreva {
    font-family: 'Dancing Script', cursive;
    margin-left: 30px;
}

.before {
    text-align: center;
}

.pictures {
    display: flex;
    justify-content: center;
}

.steps-section {
    background: url(Template/Bed.jpg);
    background-size: cover;
}

.step-item {
    position: relative;
    padding: 20px;
    transition: all 0.3s ease;
}

.step-icon span {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.step-item::after {
    content: '';
    position: absolute;
    top: 100%;
    right: -15px;
    width: 30px;
    height: 2px;
    background-color: #dee2e6;
    transform: translateY(-50%);
}

.step-item:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .step-item::after {
        display: none;
    }
}

.lists ul {
    margin-right: 5px;
    list-style: none;

}

.lists li::before {
    content: "\2726";
    margin-right: 8px;
}


.lists li {
    margin-bottom: 10px;
    font-size: larger;
}

.lists dd {
    margin-bottom: 10px;
    text-align: justify;
    width: 230px;
    font-size: medium;
}

.circle {
    background-color: #fff3b0;
}

.head {
    display: flex;
    justify-content: center;
    position: relative;
}

.card-header {
    position: absolute;
    top: -20px;

}